* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
:root {
    --back-color:#FFDADA;
    --btn-color:#F8AEAE;
}
#banner {
    background-image: linear-gradient(rgba(0,0,0,0.5),var(--back-color)),url("");
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}
.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1 {
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;
}
.banner-text p {
    font-size: 20px;
    font-style: italic;
}
.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a{
    text-decoration: none;
    width: 150px;
    color: #fff;
    margin: 0 10px;
    border: .5px solid #fff;
    padding: 12px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}